<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <title>{{ page.title }}</title>
	  <link rel="stylesheet" type="text/css" href="/Virtus/StyleSheets/basic.css" title="default" media="screen" />
  </head>
  <body id="citydesk-template">

    <div id="container">

	    <h2><a href="../index.html"><img alt="" src="/Virtus/Images/virtus-group.gif" border="0" /></a></h2>
      <div id="menu">
        <ul class="level1">
          <li><a href="/index.html">Virtus Group</a></li>
          <li><a href="/rail/index.html">Virtus Rail</a>
            <ul class="level2">
              <li><a href="/hojadetrenes/index.html">Hoja de Trenes</a></li>
              <li><a href="/cct/index.html">CCT</a></li>
              <li><a href="/interaction/index.html">Interaction</a></li>
            </ul>
          </li>
          <li><a href="/medical/index.html">Virtus Medical</a>
            <ul class="level2">
              <li><a href="/xhosp/index.html">xHosp</a></li>
              <li><a href="/xlab/index.html">xLab</a></li>
              <li><a href="/xblood/index.html">xBlood</a></li>
              <li><a href="/xray/index.html">xRay</a></li>
            </ul>
          </li>
          <li><a href="/consulting/index.html">Virtus Consulting</a>
            <ul class="level2">
              <li><a href="/commset/index.html">CommSet</a></li>
            </ul>
          </li>
          <li><a href="/Virtus/Contacto.html">Contacto</a>
          </li>
        </ul>
      </div>

      <div id="articleBody">
        {{ content }}
      </div>
    </div>
  </body>
</html>
